.blogPage {
  width: 100%;
  background-color: var(--background-secondary-color, #3e3e3f);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--new {
    text-align: left;
    color: var(--text-color, white);
  }
  &--box {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 4px;
    color: var(--text-color, white);
    transition: color 0.2s ease;
    &:hover {
      color: var(--link-color, #2997ff) !important;
    }
    &--left {
      width: 20%;
      img {
        max-width: 100%;
        object-fit: cover;
        border-radius: var(--border-radius, 4px);
      }
    }
    &--right {
      width: 80%;
      padding-left: 4px;

      &--title {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color, white);
      }
      &--time {
        color: var(--text-secondary-color, #ccc) !important;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .blogPage--box--left {
    width: 50%;
  }
  .blogPage--box--right {
    width: 50%;
    padding-left: 4px;

    &--title {
      font-size: 14px !important;
      font-weight: 600;
      color: var(--text-color, white);
    }
    &--time {
      color: var(--text-secondary-color, #ccc) !important;
    }
  }
}
