.event-container{
    width: 100%;
    background-color: var(--card-background-color, #161616);
    color: var(--text-color, white);
    border-radius: var(--border-radius, 10px);
    &--top{
        margin: 8px 0;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 30%;
        }
    }
}