.main{
    position: fixed;
    background-color: #0000006b;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.2s ease-out;
    will-change: opacity;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}