.box-product{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    h1{
        color: var(--text-color, white);
        font-weight: 600;
      
    }
    div{
       max-width: 100%;
        
    } 
    &--main{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        
        &--header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            color: var(--text-color, white);
            
            h1 {
                color: var(--text-color, white);
                margin: 0;
            }
            
            .right--image {
                width: 50px;
                height: 50px;
            }
        }

    }

    &--product{
        margin: 0 auto; 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 20px;
     
     }
   
}

