.box-card-product{
    background-color: var(--card-background-color, #323232);
    border-radius: var(--border-radius, 10px);
    width: 99%;
    cursor: pointer;
    height: 390px;
    box-sizing: border-box;
  
    &:hover {box-shadow: var(--text-color, white) 1px 1px 1px }
    &--image{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 12px 0;
    &--img{
        width: 200px !important
    }
    }
   
    &--content{
        display: flex;
        flex-direction: column;
        margin: 12px 0;
        padding: 32px 0;
        text-align: center;
        align-items: center;
        &--name{
            text-shadow: 1px ;
            margin: 0;
            color: var(--text-color, white);
            font-size: 16px;
            width: 100%;
        }
        &--monney{
            display: flex;
            justify-content: center;
            &--price{
                color: var(--text-secondary-color, #ccc);
                text-decoration: line-through;
                font-weight: 400;
                margin: 4px 0;
                padding-right:6px ;
            }
            &--sale{
                color: var(--accent-color, #ff9921);
                font-weight: 600;
                margin: 4px 0;
            }
        }
        &--loader{
            width: 100%;
            text-align: center;
        }
    }
}